<html ng-app="app">
<head>
	<title>Spotify Playlist Converter</title>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script src="min/app-min.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	<style type="text/css">

		.col-md-12 {
			padding: 20px 0 0;
		}
		h5, p, a.btn {
			text-align: center;
		}
		.thumbnail > .caption > h5 {
			min-height: 70px;
		}
		.thumbnail > .caption {
			padding-bottom: 0;
		}
		.thumbnail > img {
			height: 268px;
			width: 268px;
		}
		textarea {
			min-height: 222px;
			width: 100%;
			margin-bottom: 5px;
		}
		.thumbnail {
			padding: 0 0 15px;
		}
	</style>
</head>
<body>
<div class="container">
	<div ng-controller="appCtrl" class="row">
		<!-- {{ isLoggedIn }}
	<button ng-hide="isLoggedIn" class="btn btn-primary" ng-click="login()">LOGIN</button>
	<a ng-show="isLoggedIn" class="btn btn-primary" href="https://accounts.google.com/logout">Logout</a> -->
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<textarea id="urls" ng-model="urls" ng-change="" class="form-control"></textarea>
					<button class="btn btn-primary btn-block" ng-click="run()">GO!</button>
					<button class="btn btn-block" ng-click="reset()">Reset</button>
				</div>
				<div class="col-md-6">
					<youtube videoid="youtubeIds"></youtube>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-3" ng-repeat="(key, result) in results">
				    <div class="thumbnail">
				    	<img ng-src="{{ result.album.images[1].url }}" alt="...">
				    	<div class="caption">
				    		<h5>{{ result.artists }} - {{ result.name }}</h5>
				    		<div class="row">
				    			<a target="_blank" ng-href="https://www.youtube.com/watch?v={{ result.youtubeId }}" class="btn btn-danger col-md-4 col-md-offset-1" role="button">Youtube</a>
				    			<a target="_blank" ng-href="{{ result.spotifyUrl }}" class="btn btn-success col-md-4 col-md-offset-2" role="button">Spotify</a>
				    		</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<p>{{ prova }}</p>
	</div>
</div>
</body>
</html>